.bg-dark {
  background: #202020 !important;
}

button {
  width: 100%;
  height: 68px;
  border: 1px solid #424242;
  background: no-repeat;
  color: white;
  font-size: 18px;
  border-radius: 100px;
}

button:hover {
  background: #198754;
  border-color: #ffc107;
}